page-menu {

    .scroll-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }

    .card {
        text-align: center;   
        height: 100px;
        width: 200px; 
        margin: 20px;
        background-color: color($colors, primary);
        display: flex;
        align-items: center;
      }

    .card-title {
        font-size: 20px;
        width: 100%;
        font-weight: 500;
      }  
}
