<ion-header>
  <ion-navbar>
    <ion-title>Account History</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div class="balance-container">
    <span>Current Balance: {{currentBalance}}</span>

    <table>
      <tr class="header">
        <td>Operation</td>
        <td>Amount</td>
        <td>Balance</td>
        <td>Date</td>
      </tr>
      <tr *ngFor="let transaction of transactions">
        <td>{{transaction.operation}}</td>
        <td>{{transaction.amount}}</td>
        <td>{{transaction.balance}}</td>
        <td>{{transaction.date}}</td>
      </tr>
    </table>

    <ion-select [(ngModel)]="selectedMonth" (ionChange)="getTransactionsByMonth()">
      <ion-option *ngFor="let month of months" [value]="month.id">{{month.name}}</ion-option>
    </ion-select>
  </div>

</ion-content>